.section1{
    width: 100%;
    height: 1187px;
}
.header-div{
    display: flex;
    justify-content: space-around;
}
.navigation-ul{
    display: flex;
    justify-content: space-around;
    height: 24px;
    width: 581px;
    color: #3D37F1;
    padding-top: 87px;
    font-size: 20px;
}
.header-logo{
    padding-top: 67px;
    width: 195px;
    height: 39px;
}
.div-box-h1{
    display: flex;
    font-size: 78px;
    width: 600px;
    height: 203px;
}
.div-box-img{
    display: flex;
    justify-content: flex-end;
    width: 801px;
    height: 526.63px;
}
.div-box{
   display: flex;
   justify-content: space-around;
   margin: 0,auto;
   padding: 285px ;
   
}
.div-box-p1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 602px;
    height: 103px;
}
.wave-div{
        width: 263.67px;
        height: 76.77px;
        border-radius: 50px; 
        background-color: #3D37F1;
        display: flex;
        justify-content: center;
        align-items: center;
}
.wave-img{  
    height: 30.97px;
    width: 30.29px;
    padding: 23px 24px 24px;
}
.wave-p{
    font-size: 23px;
    color: #FFFFFF;
}
.section2{ */
    width: 100%;
 }
.para-div{
    display: flex;
    justify-content: center;
    color: #3D37F1;
    font-size: 20px;
    
}
.h2-div{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #5A5454;
    padding-top: 21px;
}
.para-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 712px;
    height: 85px;
    
}

.alfa-box{
    display: flex;
    width: 1169px;
    height: 962px;
}
.beta-box1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBBA77;
    width: 370px;
    height: 471px;
}
.beta-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41EAE3;
    width: 370px;
    height: 471px;
}
.beta-box3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #69529F;
    width: 370px;
    height: 471px;
}
.beta-box4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4386D2;
    width: 370px;
    height: 471px;
}
.beta-box5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5A2F6;
    width: 370px;
    height: 471px;
}
.beta-box6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8088;
    width: 370px;
    height: 471px;
}
.beta-box1-h{
    display: flex;
    justify-content:center;
    color: #FFFFFF;
    font-size: 22px;
}

