.section1{
    width: 100%;
    height: 1187px;
}
.header-div{
    display: flex;
    justify-content: space-around;
}
.navigation-ul{
    display: flex;
    justify-content: space-around;
    height: 24px;
    width: 581px;
    color: #3D37F1;
    padding-top: 87px;
    font-size: 20px;
}
.header-logo{
    padding-top: 67px;
    width: 195px;
    height: 39px;
}
.div-box-h1{
    display: flex;
    font-size: 78px;
    width: 600px;
    height: 203px;
}
.div-box-img{
    display: flex;
    justify-content: flex-end;
    width: 801px;
    height: 526.63px;
}
.div-box{
   display: flex;
   justify-content: space-around;
   margin: 0,auto;
   padding: 285px ;
   
}
.div-box-p1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 602px;
    height: 103px;
}
.wave-div{
        width: 263.67px;
        height: 76.77px;
        border-radius: 50px; 
        background-color: #3D37F1;
        display: flex;
        justify-content: center;
        align-items: center;
}
.wave-img{  
    height: 30.97px;
    width: 30.29px;
    padding: 23px 24px 24px;
}
.wave-p{
    font-size: 23px;
    color: #FFFFFF;
}
.section2{
    width: 100%;
 }
 .section2-box{
    width: 744px;
    margin:0 auto;
    text-align: center;
 }
.para-div{
    color: #3D37F1;
    font-size: 20px;
    
}
.h2-div{
    font-size: 40px;
    color: #5A5454;
    padding-top: 21px;
}
.para-div2{
    width: 712px;
    padding-top: 17px;
    font-size: 18px;
}

.alfa-box{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    width: 1300px;
    height: 1200px;
    margin: 0 auto;
}
.beta-box1{
    background-color: #FBBA77;
    width: 370px;
    height: 471px;
    margin: 29px;
}
.beta-box2{
    background-color: #41EAE3;
    width: 370px;
    height: 471px;
    margin: 29px;
}
.beta-box3{
    background-color: #69529F;
    width: 370px;
    height: 471px;
    margin: 29px;
}
.beta-box4{
    background-color: #4386D2;
    width: 370px;
    height: 471px;
    margin: 29px;
}
.beta-box5{
    background-color: #A5A2F6;
    width: 370px;
    height: 471px;
    margin: 29px;
}
.beta-box6{
    background-color: #FF8088;
    width: 370px;
    height: 471px;
    margin: 29px;
}
.img-icon{
    display: flex;
    padding-top: 80px;
    width: 100px;
    height:99,89px ;
    margin: 0 auto;
}
.button{
    height: 45px;
    border-radius: 18%;
    border-color: #FFFFFF;
    font-size: 15px;
    padding-left: 119px;
    

}
.beta-box1-h{
    width: 150px;
    font-size: 22px;
    margin: 0 auto;
    padding-top: 57px;
}
.beta-box1-p{
    width: 340px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 13.1px;
}
.read-more1{
    width: 131px;
    height: 45px;
    border: 2px solid rgb(254, 254, 254);
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b647e;
    margin-top: 11px;
    background-color: #FFFFFF; 
}
.read-more{
    width: 131px;
    height: 45px;
    border: 2px solid rgb(254, 254, 254);
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-top: 11px;
}